body {
  background: black;
  font-family: "Oswald", sans-serif;
  color: rgba(165, 141, 141);
  margin: 3%;
  font-size: 130%;
  max-width: 100vw !important;
}
/* save all colors */
:root {
  --pink: #cd3091;
  --green: #27ac32;
  --lpink: #dfbfbf;
  --color-5: #f9b234;
  --color-6: #4c49ea;
  --color-7: #48abe0;
  --black: #121212;
  --white : #fff;
}

.topnav {
  margin-top: 3%;
  padding-bottom: 1%;
}

.navbar {
  float: right;
}

.logo {
  float: left;
  font-family: monospace;
}

a {
  padding-left: 20px;
  text-decoration: none;
  color: rgba(165, 141, 141);
}

a:hover {
  color: #dfbfbf ;
}

.socials a:hover {
  color: #ebd1d1
}

.active {
  color: #dfbfbf;
}

h1{
  text-shadow: -1px 0 #27ac32, 1px 0 #27ac32, 0 -1px #27ac32, 0 1px #27ac32;
}

h2 {
  text-shadow: -1px 0 #cd3091, 1px 0 #cd3091, 0 -1px #cd3091, 0 1px #cd3091;
}

h3 {
  text-shadow: -1px 0 #27ac32, 1px 0 #27ac32, 0 -1px #27ac32, 0 1px #27ac32;
}

footer {
  padding-top: 3%;
  font-size: 70%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  

}

.glitch, .glow {
  color: #dfbfbf;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 0;
  font-size: 9vw;
  animation: glitch 5s 5s infinite;
}

.glitch::before, .glow::before {

  content: attr(data-text);
  position: absolute;
  /* left: 0; */
  text-shadow: -5px 0 #cd3091;
  background: black;
  overflow: hidden;
  /* top: 1000px; */
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after, .glow::after {
  content: attr(data-text);
  position: absolute;
  translate: -2px;
  text-shadow: -5px 0 #27ac32;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 5s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

/* media query for smartphone */
@media (max-width:480px)  {
  .glitch, .glow {
    font-size: 3rem !important;
    
  }
  .glitch::before, .glow::before {
    translate: -1px;
    animation: noise-1 5s linear infinite alternate-reverse, glitch 5s 5.05s infinite;

  }
  .glitch::after, .glow::after {
    animation: noise-2 7s linear infinite alternate-reverse, glitch 5s 5s infinite;

  }



 
  .subtitle {
    text-align: center;
    font-size: 0.4rem !important;
  }

}


@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(39px 0 48px 0);
  }
  6.6666666667% {
    clip-path: inset(94px 0 3px 0);
  }
  10% {
    clip-path: inset(15px 0 50px 0);
  }
  13.3333333333% {
    clip-path: inset(15px 0 39px 0);
  }
  16.6666666667% {
    clip-path: inset(4px 0 78px 0);
  }
  20% {
    clip-path: inset(38px 0 17px 0);
  }
  23.3333333333% {
    clip-path: inset(23px 0 22px 0);
  }
  26.6666666667% {
    clip-path: inset(31px 0 30px 0);
  }
  30% {
    clip-path: inset(64px 0 2px 0);
  }
  33.3333333333% {
    clip-path: inset(69px 0 10px 0);
  }
  36.6666666667% {
    clip-path: inset(43px 0 55px 0);
  }
  40% {
    clip-path: inset(41px 0 12px 0);
  }
  43.3333333333% {
    clip-path: inset(50px 0 10px 0);
  }
  46.6666666667% {
    clip-path: inset(66px 0 16px 0);
  }
  50% {
    clip-path: inset(70px 0 12px 0);
  }
  53.3333333333% {
    clip-path: inset(98px 0 2px 0);
  }
  56.6666666667% {
    clip-path: inset(87px 0 13px 0);
  }
  60% {
    clip-path: inset(97px 0 4px 0);
  }
  63.3333333333% {
    clip-path: inset(12px 0 73px 0);
  }
  66.6666666667% {
    clip-path: inset(59px 0 26px 0);
  }
  70% {
    clip-path: inset(93px 0 4px 0);
  }
  73.3333333333% {
    clip-path: inset(58px 0 40px 0);
  }
  76.6666666667% {
    clip-path: inset(47px 0 14px 0);
  }
  80% {
    clip-path: inset(90px 0 5px 0);
  }
  83.3333333333% {
    clip-path: inset(70px 0 29px 0);
  }
  86.6666666667% {
    clip-path: inset(98px 0 2px 0);
  }
  90% {
    clip-path: inset(19px 0 42px 0);
  }
  93.3333333333% {
    clip-path: inset(10px 0 63px 0);
  }
  96.6666666667% {
    clip-path: inset(28px 0 14px 0);
  }
  100% {
    clip-path: inset(88px 0 10px 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(77px 0 18px 0);
  }
  3.3333333333% {
    clip-path: inset(22px 0 56px 0);
  }
  6.6666666667% {
    clip-path: inset(42px 0 27px 0);
  }
  10% {
    clip-path: inset(1px 0 36px 0);
  }
  13.3333333333% {
    clip-path: inset(38px 0 39px 0);
  }
  16.6666666667% {
    clip-path: inset(61px 0 26px 0);
  }
  20% {
    clip-path: inset(86px 0 11px 0);
  }
  23.3333333333% {
    clip-path: inset(95px 0 6px 0);
  }
  26.6666666667% {
    clip-path: inset(53px 0 5px 0);
  }
  30% {
    clip-path: inset(80px 0 7px 0);
  }
  33.3333333333% {
    clip-path: inset(21px 0 33px 0);
  }
  36.6666666667% {
    clip-path: inset(65px 0 4px 0);
  }
  40% {
    clip-path: inset(99px 0 2px 0);
  }
  43.3333333333% {
    clip-path: inset(36px 0 65px 0);
  }
  46.6666666667% {
    clip-path: inset(20px 0 52px 0);
  }
  50% {
    clip-path: inset(40px 0 57px 0);
  }
  53.3333333333% {
    clip-path: inset(95px 0 3px 0);
  }
  56.6666666667% {
    clip-path: inset(35px 0 9px 0);
  }
  60% {
    clip-path: inset(89px 0 3px 0);
  }
  63.3333333333% {
    clip-path: inset(9px 0 58px 0);
  }
  66.6666666667% {
    clip-path: inset(11px 0 14px 0);
  }
  70% {
    clip-path: inset(98px 0 3px 0);
  }
  73.3333333333% {
    clip-path: inset(28px 0 41px 0);
  }
  76.6666666667% {
    clip-path: inset(88px 0 2px 0);
  }
  80% {
    clip-path: inset(22px 0 16px 0);
  }
  83.3333333333% {
    clip-path: inset(56px 0 15px 0);
  }
  86.6666666667% {
    clip-path: inset(86px 0 5px 0);
  }
  90% {
    clip-path: inset(77px 0 5px 0);
  }
  93.3333333333% {
    clip-path: inset(99px 0 2px 0);
  }
  96.6666666667% {
    clip-path: inset(21px 0 76px 0);
  }
  100% {
    clip-path: inset(1px 0 84px 0);
  }
}
.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}
.glow {
  text-shadow: 0 0 1000px #dfbfbf;
  color: transparent;
  position: absolute;
  top: 0;
}

.subtitle {
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  color: rgba(165, 141, 141);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  /* position: absolute; */
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}


.faq-cont {
  /* position: absolute; */
  flex-direction: column;
  height: 100vh;
  display: flex;



}
.cont {
  height: 100vh;

}
/* define vars */


.heading  {
  text-align: center;
  font-size:  4rem;
  font-weight: 1000;
  color : #dfbfbf;
  letter-spacing: 3px;
  /* add shadow and animate    */
  text-shadow: -1px 0 #27ac32, 1px 0 #27ac32, 0 -1px #27ac32, 0 1px #27ac32;
  animation: animate 2s linear infinite ;

}



    

    .ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
  width: 100%;
  padding: 50px 0;
}
.ag-courses_item {
  /* -ms-flex-preferred-size: calc(33.33333% - 30px); */
  /* flex-basis: calc(33.33333% - 30px); */

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(25);
  -ms-transform: scale(25);
  transform: scale(25);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 15px;
  
  overflow: hidden;

  /* font-weight: bold; */

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: var(--pink);

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: var(--green);

}
.ag-courses_item:nth-child(2n) .ag-courses-item_title {
  text-shadow: -1px 0 #27ac32, 1px 0 #27ac32, 0 -1px #27ac32, 0 1px #27ac32;

}

.bottom {
  display: flex;
  justify-content: center;
}

button.round {
  background-color: var(--pink);
  color: white;
  border: none;
  padding: 3px;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 1rem;

  box-shadow: 0 2px 4px darkslategray;
}
.round:hover{
  background-color: rgb(247, 97, 122);
  cursor: pointer;
  transition: 0.3s;
}